body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

    span {
      display: inline-block;
      padding: 20px;
      border: 1px solid;
    }
    span:hover {
      cursor: pointer;
    }
    span.key {
      min-width: 20%;
    }
    div {
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 5px;
      margin: 2px;
      border: 1px solid;
    }
